body{
background-image:url("");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

h1{
    color: rgb(167, 167, 167);
    font-family:monospace;
    font-size:  200px;
}

h2{
    color: rgb(126, 85, 180);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    text-underline-position: below ;
} 
#popo{ 
    border: 3px solid;
    border-color: rgb(255, 255, 255);
    height: 600px;
    width: 1325px;
    background-color: rgba(255, 255, 255, 0.288);
    left: 200%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family:monospace
}

   


#popo2{}